name: Publish python package

# description: |- A github reusable workflow to publish a python package to
#   pypi.org or test.pypi.org.
#
#   Input options:
#   - `pypi: test.pypi`: Publish to test.pypi.org (default).
#   - `pypi: pypi`: Publish to pypi.org.
#
#   The workflow invokes the github composite action
#   `glenn20/python-ci/publish@v1` to publish the package.
#
#   Requirements:
#   1. For trusted publishing, the publishing workflow must be in the project
#      repository, so copy this workflow file to
#      `.github/workflows/publish.yaml` in your repository.
#   2. Create the `publish-test.pypi` and `publish-pypi` Environments in your
#      github repository (Settings->Environments->New Environment).
#   3. Add this workflow as a "trusted publisher" on your pypi and test.pypi
#      project pages (add the name of the relevant Environment for additional
#      access control).
#   4. Call this workflow from a parent workflow with the `pypi` input set to
#      "pypi" or "test.pypi" (default).
#
#   Invoke with `uses: ./.github/workflows/publish@v1`

on:
  workflow_call:
    inputs:
      pypi:
        description: 'Set to "pypi" or "test.pypi" (default).'
        default: 'test.pypi'
        required: false
        type: string

jobs:
  build:
    name: Build
    uses: glenn20/python-ci/.github/workflows/build.yaml@main
    permissions:
      id-token: none

  publish:
    name: Publish to ${{ inputs.pypi }}
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: publish-${{ inputs.pypi }}
      url: https://${{ inputs.pypi }}.org/p/${{ needs.build.outputs.package-name }}
    permissions:
      id-token: write  # IMPORTANT: mandatory for trusted publishing
    steps:
      - uses: glenn20/python-ci/publish@main
        with:
          pypi: ${{ inputs.pypi }}
